A4/MyStateMachine.asl.json
{
  "Comment": "Hashing State Machine",
  "StartAt": "ChooseHashingOption",
  "States": {
    "ChooseHashingOption": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "InvokeSha256Lambda"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "InvokeMd5Lambda"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "InvokeBcryptLambda"
        }
      ],
      "Default": "InvokeBcryptLambda"
    },
    "InvokeSha256Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:975080007958:function:sha256",
      "End": true
    },
    "InvokeMd5Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:975080007958:function:md5",
      "End": true
    },
    "InvokeBcryptLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:975080007958:function:bycryptfunction",
      "End": true
    }
  }
}